.contentContainer {
  overflow-y: scroll;
  height: 92vh;
  flex: 4;
  .innerContent {
    padding: 50px 30px 0px 30px;
    //min-width: 1320px;
  }
  .listCategoryCard {
    max-height: 310px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}
