.contentContainer {
  margin-left: 60px;
  overflow-y: scroll;
  height: 85vh;
  flex: 4;
  padding: 50px 30px 0px 30px;

  .listCategoryCard {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
