.container {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  gap: 2rem;
  width: 100%;

  .price {
    margin-left: auto;
    align-self: center;
    font-weight: 600;
  }

  .name {
    .itemTitle {
      max-width: 600px;
      font-size: 14px;
    }
  }
}
