.content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.box {
  height: 80px;
}

.contentContainer {
  overflow-y: scroll;
  height: 100vh;
}
.leftFilter{
  margin-left: 24px;
  padding: 24px;
}