.content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.box {
  height: 80px;
}

.contentContainer {
  overflow-y: scroll;
  height: 100vh;
}
.leftFilter{
  margin-left: 24px;
  padding: 24px;
}
.rightContent{
  margin-left: 24px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.pagination{
  ul{
    justify-content: center;
  }
}