.container {
  width: 125px;
  height: 140px;
  position: relative;
  background-color: rgb(38, 185, 136);
  border-radius: 10px;
  padding-top: 10px;

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .title {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: 100%;
  }
}
