.container {
  //width: 125px;
  //height: 140px;
  width: 200px;
  position: relative;
  border-radius: 10px;
  padding-top: 10px;

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .title {
    margin-top: 14px;
    position: absolute;
    text-align: center;
    font-size: 28px;
    font-weight: 1000;
    color: white;
    width: 100%;
    text-shadow: 1px 1px #d9d9d9;
  }
}
