@import './../../scss/variables.scss';

@mixin arrowContainer{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px #00000029;
  color: $border_button;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  transition: all 0.5s linear;
  &:hover {
    opacity: 1;
  }
}

.arrowContainerLeft {
  @include arrowContainer;
  left: 10px;
}
.arrowContainerRight {
  @include arrowContainer;
  right: 10px;
}