.sellerContainer {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  .sellerName {
    font-weight: bold;
    font-size: larger;
    margin: 0;
  }
  .sellerInformation {
    margin-top: 10px;
    display: flex;
    .sellerRating {
      margin-left: 20px;
      display: flex;
    flex-direction: column;
    justify-content: center;
      .starIcon {
        color: #ffce3d;
        width: 30px;
        height: 30px;
      }
    }
  }
  .sellerDescription {
    height: 80px;
    color: rgb(98, 98, 98);
    border-bottom: 1px solid #ddd;
  }
  .bottom {
    display: flex;
    
  }
}
.followBtn{
  width: 200px !important;
}