@import './../../scss/variables.scss';

.cardContainer {
  border-radius: 6px;
  background-color: white;
  box-shadow:
  rgba(0, 0, 0, 0.2) 0px 2px 1px 1px,
  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 3px 1px;
  .image {
    max-width: 255px;
    max-height: 255px;
    border-radius: 6px 6px 0 0;
  }

  .imageContainer {
    position: relative;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .favorite {
      color: rgb(220, 73, 108);
      position: absolute;
      top: 6px;
      right: 6px;
      .favoriteIcon {
        border-radius: 50%;
        padding: 7px;
        background-color: #f1f1f1dd;
      }
      &:hover {
        scale: 1.05;
        transition: all 0.2s linear;
      }
    }

    .imageBox {
      max-height: 255px;
    }

    .categories {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      position: absolute;
      bottom: 2px;
      left: 10px;

      .category {
        border-radius: 20px;
        background-color: #f1f1f199;
        padding: 5px 10px;
        font-size: 12px;
        width: fit-content;
      }
    }
  }

  .cardDetail {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;

    .name {
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .shop {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      font-weight: 550;
    }

    .priceContainer {
      display: flex;
      //min-height: 50px;
      gap: 5px;
    }
    .percent {
      background-color: rgb(245, 245, 250);
      padding: 3px 10px;
      text-align: center;
      color: rgb(39, 39, 42);
      border-radius: 10px;
    }

    //.discount {
    //  display: flex;
    //  align-items: center;
    //  gap: 10px;
    //
    //  .cost {
    //    font-size: 12px;
    //    text-decoration: line-through;
    //    color: gray;
    //  }


    //}

    .price {
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 66, 78);
      //letter-spacing: 2px;
    }

    .starIcon {
      color: #ffce3d;
      width: 18px;
      height: 18px;
    }

    .rate {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 5px 0;
      font-size: 12px;
      justify-content: space-between;
    }

    .buttonGroup {
      margin-top: 10px;
      display: flex;
      align-items: center;

      .button {
        width: 100%;
        margin: 0;
        background-color: $border_button;
        color: white;
        font-weight: bold;

        &:hover {
          scale: 1.01;
          transition: all 0.2s linear;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 2px 4px 1px, rgba(0, 0, 0, 0.12) 0px 1px 7px 1px;
  }
}
