@import './../../scss/variables.scss';
.cartContainer {
  height: 100%;
  overflow-y: scroll;

  .cartContent {
    margin: 0 10%;
    min-height: 800px;
    margin-top: 7%;

    .listContainer {
      width: 70%;

      .header {
        margin-top: 2rem;
        display: flex;

        .column {
          width: 25%;
          text-align: center;
          font-weight: 700;
          font-size: 1.2rem;
        }
      }

      .listItem {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 20px;
      }

      

      .line {
        border-bottom: 1px solid #e0e0e0;
        width: 102%;
      }
    }

    .totalContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30%;
      .buttonGroup {
        margin-top: 10px;
        display: flex;
        width: 70%;
        align-items: center;
  
        .button {
          width: 100%;
          margin: 0;
          background-color: $border_button;
          color: white;
          font-weight: bold;
  
          &:hover {
            scale: 1.01;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }
}
.buyBtn {
  border-color: #8A2BE2 !important;
  background-color: #8A2BE2 !important;
  color: #fff !important;
  text-transform: none !important;
  padding: 8px 24px !important;
}
