@import './../../scss/variables.scss';

@mixin iconNavbarStyles {
  color: gray;
  padding: 6px;
  margin-left: 20px;
  height: 25px;
  position: relative;
  left: 10px;
  &:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
  }
}

.navbarContainer {
  min-height: 80px;
  background-color: $text_white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 3px 2px 5px lightgray;
  z-index: 999999;
  .wrapper {
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      flex: 1.5;
      .logoContainer {
        display: flex;
        position: relative;
        .logoTitle {
          max-height: 50px;
          max-width: 100%;
         
        }
      }
      &:hover {
       cursor: pointer;
      }
    }
    .center {
      flex: 5;
      flex-direction: row;
      align-self: center;
      align-items: center;
      display: flex;
      .menuStyle {
        @include iconNavbarStyles;
        flex: 2;
      }
      .searchContainer {
        border: 0.5px solid lightgray;
        flex: 10;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;
        justify-content: space-between;
        height: 35px;
        border-radius: 10px;
        .searchStyle {
          padding: 10px;
          color: gray;
          &:hover {
            background-color: whitesmoke;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        .inputStyle {
          border: none;
          font-size: medium;
          width: 100%;
          max-height: 80%;
          margin: 5px 5px 5px 10px;
        }
        .inputStyle:focus {
          outline: none;
        }
        &:hover {
          border: 1px solid  rgba(0, 0, 0, .5);;
        }
      }
    }
    .right {
      flex: 3;
      .rightContainer {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: right;
        min-width: 492px;
        .notificationContainer {
          margin-left: 40px;
          min-width: 180px;
          .notificationStyle {
            @include iconNavbarStyles;
          }
          .shoppingCartStyle {
            @include iconNavbarStyles;
          }
          .languageStyle {
            @include iconNavbarStyles;
          }
        }
      }
    }
  }
}

.avatarContainer:hover {
  cursor: pointer;
}
