.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102%;
}

.itemContainer {
  display: flex;
  width: 100%;

  .item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    margin-left: 2rem;

    .image {
      min-height: 100px;
      min-width: 100px;
      object-fit: cover;
    }
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-left: 10px;
  }

  .inputNumber {
    input {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-top: 6px;
      font-weight: 500;
    }
  }
}
