.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102%;
}

.itemContainer {
  display: flex;
  width: 100%;

  .item {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
}
