.categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  height: 50px;
  .wrapper {
    display: flex;
    align-items: center;
    .categoryIcon {
      padding: 0px 20px;
    }
    .categoryName {
      font-weight: bolder;
      font-size: medium;
    }
  }
}