
@mixin footerItem {
  flex: 1;
  text-align: left;
  font-size: 14px;
  padding: 30px;
}

.contentContainer {
  display: flex;
  background-color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-color: #a7a1a1;
  .left {
    @include footerItem
  }
  .center {
    @include footerItem
  }
  .right {
    @include footerItem
  }
}
.signature {
  background-color: whitesmoke;
  padding: 30px;
  font-size: 14px;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 60px;
}
.socialMedia{
  display: flex;
  gap: 8px;
  >svg {
    cursor: pointer;
    font-size: 24px;
  }
}