@import './../../../../scss/variables.scss';

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0 10px;
  font-weight: 500;

  .index {
    color: $border_button;
    font-weight: bold;
  }

  .image {
    width: 50px;
    border-radius: 10px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
