.contentContainer {
  width: 100%;
  min-height: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  .left {
    padding: 10px;
    border-right: 1px solid #a7a1a1;
    flex: 3;
    display: flex;
    flex-direction: column;
    .profile {
      margin: 10px;
      display: flex;
      width: 100%;
      .avtCover {
        width: 120px;
        height: 120px;
        .avt {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
          border-radius: 50%;
        }
      }
    }
  }
  .right {
    padding: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
  }
}