.imageContainer {
  box-shadow:
          rgba(0, 0, 0, 0.2) 0px 2px 1px 1px,
          rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 3px 1px;
  padding: 30px;
  border-radius: 30px;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .favorite {
    color: rgb(220, 73, 108);
    position: absolute;
    top: 16px;
    right: 16px;
    .favoriteIcon {
      font-size: 40px;
      border-radius: 50%;
      padding: 7px;
      background-color: #f1f1f1dd;
    }
    &:hover {
      scale: 1.05;
      transition: all 0.2s linear;
    }
  }
  .image {
    max-width: 500px;
    max-height: 600px;
    height: auto;
    //height: 500px;
  }
}
.imagesContainer {
  display: flex;
  padding: 10px;
  margin-bottom: 100px;
}