body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

.ignoreDefaultTagA {
  text-decoration: none;
  color: black;
}
