$border_input: #d2cece;
$border_button: #8a2be2;
$placeholder: #a7a1a1;
$text_white: #ffffff;
$text_black: #000000;
$sidebar_text_item: #41417c;

$sidebar_background: #f7faff;
$order_background: #c7f2ff;
$profit_background: #ffe5ee;
$new_order_background: #42427d;
