.box {
  height: 80px;
}

.contentContainer {
  overflow-y: scroll;
  height: 100vh;
  .flexContainer {
    display: flex;
    height: auto;
    .left {
      flex: 1;
      .profileContainer {
        display: flex;
      }
      .navbarContainer {
        display: flex;
        flex-direction: column;
        color: gray;
        margin-right: 60px;
        min-width: 300px;
      }
    }
    .right {
      flex: 4;
    }
  }
}