.box {
  height: 80px;
}

.contentContainer {
  overflow-y: scroll;
  height: 100vh;
  .flexContainer {
    display: flex;
    height: auto;
    .left {
      flex: 1;
      min-height: 650px;
      .profileContainer {
        display: flex;
        margin-bottom: 20px;
      }
      .navbarContainer {
        display: flex;
        flex-direction: column;
        color: gray;
        margin-right: 30px;
        min-width: 300px;
        .item {
          &:hover {
            background-color: whitesmoke;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      flex: 4;
    }
  }
}