.NotiContainer {
  position: absolute;
  height: 600px;
  width: 500px;
  top: 50px;
  right: 0;
  border-radius: 15px;
  background-color: white;
  //border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  .titleContainer {
    display: flex;
    border-bottom: 1.5px solid lightgray;
    justify-content: center;
    height: 50px;
    color: black;
  }
  .contentContainer {
    height: 85%;
    overflow-y: scroll;
    padding: 10px;
  }
}